{% extends 'base.html.twig' %}

{% block title %}Legal Notice
{% endblock %}

{% block body %}

	<div>
		<div class="">
			<h2>Éditeur :</h2>
			<p>
				Hall 4 All : Société par Actions Simplifiée, au capital de 242 029,00 €, dont le siège est 7  Avenue Champs Elysées 75008 Paris, immatriculée au R.C.S de Paris sous le numéro 777.777.777, représentée par Mme Isabelle CLABEROT.</p>
			<h2>Hébergement :</h2>
			<p class="">OVH SAS au capital de 10 069 020 € – RCS Roubaix – Tourcoing 424 761 419 00045 – Code APE 2620Z – N° TVA : FR 22 424 761 419 – Siège social : 2 rue Kellermann – 59100 Roubaix – France.</p>
			<h2 class="">&nbsp;</h2>
			<h2 class="">Droits de reproduction :</h2>
			<p class="">Les informations présentées sur ce site sont publiques. La reproduction des pages de ce site est autorisée à la condition d’y mentionner la source et de créer un lien sur la ou les pages de référence. Elles ne peuvent être utilisées à des fins commerciales ou publicitaires.</p>
		</div>
	</div>
{% endblock %}
