{% extends 'base.html.twig' %}

{% block title %}Policy
{% endblock %}

{% block body %}
<h1 class="container-fluid mx-auto  my-auto flex py-6 pl-5 text-white  text-5xl font-extrabold text-center bg-blue-900">Protection des données personelles</h1>
	<div class="container mx-auto  my-auto flex py-6 ">
		<div class="w-full md:w-1/1 flex flex-col items-center px-3">
			<div class="">
				<div class="">
					<div class="">
						<p class="flex flex-col shadow  m-5 p-5">La présente politique décrit la manière&nbsp;dont <span class="font-bold">HALL 4 ALL</span> traite les données à caractère personnel (ci-après les « Données Personnelles ») collectées auprès de ses prospects, clients et partenaires (ci-après le/les « Clients ») :</p>
						<ul class="flex flex-col shadow  m-5 p-5">
							<li>lors de leur navigation sur le site Internet
								<a href="#">https://hall4all.fr</a>&nbsp;<b>(</b>ci-après le « Site ») et de leur utilisation des fonctionnalités de ce Site ;</li>
							<li>lors de prises de contacts téléphoniques &nbsp;;</li>
							<li>dans le cadre de la formalisation de relations contractuelles (signature de contrats, etc.) et du suivi de ces relations contractuelles&nbsp;;</li>
							<li>par tout autre moyen.</li>
						</ul>
						<p class="flex flex-col shadow  m-5 p-5">Les textes de référence de cette politique sont le Règlement Général pour la Protection des Données n° 2016/679/UE du 27 avril 2016 – applicable depuis le 25 mai 2018 (le&nbsp;«&nbsp;RGPD&nbsp;») et la loi dite «&nbsp;Informatique et Libertés&nbsp;» du 6 janvier 1978 modifiée (la&nbsp;«&nbsp;LIL&nbsp;»).</p>
						<p class="flex flex-col shadow  m-5 p-5">Cette politique pourra être modifiée, complétée ou mise à jour afin notamment de se conformer à toute évolution légale, réglementaire, jurisprudentielle et technique.</p>
						<p class="flex flex-col shadow  m-5 p-5">Cependant, les Données Personnelles des Clients seront toujours traitées conformément à la politique en vigueur au moment de leur collecte, sauf si une prescription légale impérative venait à en disposer autrement et était d’application rétroactive.</p>
						<h2>1. Les Données Personnelles collectées sont les suivantes :</h2>
						<ul class="flex flex-col shadow  m-5 p-5">
							<li>Sur le site https://hall4all.fr/ dans le cadre des formulaires de prise de contact &nbsp;: nom, prénom, numéro de téléphone, adresse électronique, message laissé par le Client le cas échéant.</li>
							<li>Dans le cadre de la prospection commerciale&nbsp;: nom, prénom, adresse postale, adresse électronique, numéro de téléphone.</li>
							<li>Dans le cadre de la formalisation et du suivi des relations contractuelles&nbsp;: nom, prénom, adresse postale, adresse électronique, numéro de téléphone,</li>
							<li><span class="font-bold">HALL 4 ALL</span> confirment ne collecter aucune donnée « sensible » au sens de l’article 9 paragraphe 1 du RGPD (par exemple, données concernant la santé).</li>
						</ul>
						<h2 class="">2. Les finalités principales des Données Personnelles collectées sont les suivantes :</h2>
						<ul class="flex flex-col shadow  m-5 p-5">
							<li>permettre à <span class="font-bold">HALL 4 ALL</span> de répondre à toutes demandes d’informations des Clients quant aux prestations de services proposées par <span class="font-bold">HALL 4 ALL</span>;</li>
							<li>permettre aux Clients de naviguer et de profiter des fonctionnalités des Sites.</li>
							<li>permettre l’envoi par <span class="font-bold">HALL 4 ALL</span> d’informations commerciales et de messages publicitaires, via courriers électroniques, messages SMS, appels téléphoniques et courriers postaux.</li>
							<li>permettre la signature de contrats et assurer le suivi des relations contractuelles;</li>
							<li>Lorsque certaines informations ou déclarations sont obligatoires pour accéder à des fonctionnalités spécifiques des Sites, ce caractère obligatoire est indiqué au moment de la saisie des Données Personnelles. En cas de refus du Client de fournir des informations obligatoires, il pourra se voir refuser l’accès à certains services, fonctionnalités ou rubriques des Sites.</li>
						</ul>
						<h2>3. Les Données Personnelles des Clients sont conservées</h2>
						<p class="flex flex-col shadow  m-5 p-5">Les Données Personnelles des Clients sont conservées pendant une durée qui ne saurait excéder la durée de la démarche commerciale sauf si celle-ci débouche sur la signature d’un contrat, auquel cas elles sont conservées pendant une durée qui ne saurait excéder une période de 5 ou 10 ans à compter de la fin du contrat selon la nature des Données Personnelles, sauf si&nbsp;:</p>
						<ul class="flex flex-col shadow  m-5 p-5">
							<li>le Client exerce, dans les conditions prévues ci-après, l’un des droits qui lui sont reconnus par la législation;</li>
							<li>une durée de conservation plus longue est autorisée ou imposée en vertu d’une disposition légale ou réglementaire.</li>
						</ul>
						<h2>4. En matière de sécurité et de confidentialité :</h2>
						<p class="flex flex-col shadow  m-5 p-5">En matière de sécurité et de confidentialité, <span class="font-bold">HALL 4 ALL</span> met en œuvre des mesures organisationnelles, techniques et logicielles pour protéger les Données Personnelles contre les altérations, destructions et accès non autorisés.</p>
						<h2>5. L’accès à vos Données Personnelles est strictement limité</h2>
						<p class="flex flex-col shadow  m-5 p-5">L’accès à vos Données Personnelles est strictement limité&nbsp;aux employés et préposés de <span class="font-bold">HALL 4 ALL</span>, habilités en raison de leurs fonctions et tenus à une obligation de confidentialité.</p>
						<p class="flex flex-col shadow  m-5 p-5">Cependant, les Données Personnelles collectées pourront éventuellement être communiquées à des sous-traitants chargés contractuellement de l’exécution des tâches nécessaires au bon fonctionnement des Sites et de leurs services ainsi qu’à la bonne gestion de la relation avec le Client, sans que ce dernier ait besoin de donner son autorisation. Il est précisé que, dans le cadre de l’exécution de leurs prestations, les sous-traitants n’ont qu’un accès limité aux Données Personnelles des Clients et ont une obligation contractuelle de les utiliser en conformité avec les dispositions de la législation applicable en matière de protection des Données Personnelles.</p>
						<p class="flex flex-col shadow  m-5 p-5">En dehors des cas énoncés ci-dessus, <span class="font-bold">HALL 4 ALL</span> s’engage à ne pas vendre, louer, céder ou permettre à des tiers d’accéder aux Données Personnelles sans le consentement préalable des Clients, à moins d’y être contraint en raison d’un motif légitime (obligation légale, lutte contre la fraude ou l’abus, exercice des droits de la défense, etc.)</p>
						<h2>6. Les Clients disposent des droits suivants :</h2>
						<p class="flex flex-col shadow  m-5 p-5">Les Clients disposent des droits suivants&nbsp;conformément aux dispositions légales et réglementaires applicables, en particulier le RGPD et la LIL&nbsp;:</p>
						<ul class="flex flex-col shadow  m-5 p-5">
							<li>un droit d’accès pour connaître les Données Personnelles qui les concernent&nbsp;;</li>
							<li>un droit de rectification de celles-ci en cas d’inexactitude(s)&nbsp;;</li>
							<li>un droit de portabilité ou de suppression des Données Personnelles&nbsp;;</li>
							<li>un droit de limitation du traitement des Données Personnelles&nbsp;;</li>
							<li>un droit d’opposition au traitement des Données Personnelles&nbsp;;</li>
							<li>un droit de retrait du consentement à l’utilisation des coordonnées des Clients pour l’envoi d’informations commerciales et de messages publicitaires via courriers électroniques, messages SMS, appels téléphoniques et courriers postaux.</li>
						</ul>
						<p class="flex flex-col shadow  m-5 p-5">Ces différents droits sont à exercer par courriel à l’adresse suivante : rgpd@hall4all.fr</p>
						<p class="flex flex-col shadow  m-5 p-5">Pour des raisons de sécurité et afin d’éviter toute demande frauduleuse, cette demande devra être accompagnée d’un justificatif d’identité. Le justificatif sera détruit une fois la demande traitée.</p>
						<p class="flex flex-col shadow  m-5 p-5">Pour toute information complémentaire ou réclamation, vous pouvez contacter la Commission Nationale de l’Informatique et des Libertés (plus d’informations sur&nbsp;<a href="http://www.cnil.fr)/">www.cnil.fr)</a>.</p>
						<h2>7. Politique des « Cookies »</h2>
						<p class="flex flex-col shadow  m-5 p-5">Un «&nbsp;cookie&nbsp;» est un fichier texte déposé sur le terminal du Client (ordinateur, mobile, tablette) lors de la consultation d’un site Internet. Il enregistre des informations relatives à la navigation du Client sur les Sites et permet à son émetteur d’identifier le terminal sur lequel il est enregistré, pendant la durée de validité dudit «&nbsp;cookie&nbsp;».</p>
						<p class="flex flex-col shadow  m-5 p-5">Certains «&nbsp;cookies&nbsp;» sont indispensables à l’utilisation d’un site, d’autres permettent d’optimiser et de personnaliser les contenus affichés.</p>
						<p class="flex flex-col shadow  m-5 p-5"><span class="font-bold">HALL 4 ALL</span> utilise deux types de «&nbsp;cookies&nbsp;»&nbsp;:</p>
						<ul class="flex flex-col shadow  m-5 p-5">
							<li>des «&nbsp;cookies&nbsp;» indispensables à la navigation sur les Sites qui permettent d’en utiliser les fonctionnalités principales et d’en sécuriser la connexion. Ces «&nbsp;cookies&nbsp;» sont exclusivement émis par <span class="font-bold">HALL 4 ALL</span>. En désactivant l’utilisation de ces «&nbsp;cookies&nbsp;», il se peut que le Client ne puisse plus bénéficier de certaines fonctionnalités des Sites&nbsp;;</li>
							<li>des «&nbsp;cookies&nbsp;» analytiques permettant d’établir des statistiques d’utilisation des Sites afin de mieux comprendre la navigation et l’intérêt que les Clients portent aux services de <span class="font-bold">HALL 4 ALL</span>. A cet égard, <span class="font-bold">HALL 4 ALL</span> utilisent «&nbsp;Google Analytics&nbsp;», un outil Google d’analyse d’audience Internet permettant de mieux comprendre le comportement des Clients.&nbsp;Cet outil utilise des «&nbsp;cookies&nbsp;» pour collecter des informations anonymes et générer des rapports sur les statistiques d’utilisation des Sites&nbsp;(sans identification individuelle).</li>
						</ul>
						<p class="flex flex-col shadow  m-5 p-5">La collecte d’information par Google peut être désactivée par l’utilisation du module Google suivant&nbsp;:&nbsp;https://tools.google.com/dlpage/gaoptout?hl=fr</p>
						<p class="flex flex-col shadow  m-5 p-5">Par ailleurs, les Clients ont la possibilité de s’opposer ou de limiter l’enregistrement des «&nbsp;cookies&nbsp;» en configurant leur logiciel de navigation. Il convient de se reporter à la rubrique d’aide du navigateur Internet pour tous les détails techniques sur les options disponibles concernant l’enregistrement de «&nbsp;cookies&nbsp;» sur un terminal. Pour de plus amples informations sur la gestion des «&nbsp;cookies&nbsp;», le Client peut se référer à la page dédiée du site de la CNIL&nbsp;:&nbsp;<a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser">https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a>
						</p>
						<p class="flex flex-col shadow  m-5 p-5">Il est néanmoins important de noter que si le Client refuse l’enregistrement de certains «&nbsp;cookies&nbsp;», ceci pourra affecter le bon fonctionnement de certaines fonctionnalités des Sites.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
