{% extends 'base.html.twig' %}

{% block title %}Hello NotificationController!
{% endblock %}

{% block body %}

	<body>
		<h1 class="mt-6 text-3xl font-bold text-center">My Notifications
		</h1>

		{% for notification in notifcations %}
			<!-- Notification Card -->
			<div
				class="max-w-sm p-6 p-10 m-auto mt-10 mb-20 bg-white rounded-lg shadow-lg ">
				<!-- Notification message -->
				<p class="mb-4 text-gray-700">
					<strong>Message:</strong>
					{{notification.message}}
				</p>

				<!-- Created date -->
				<p class="mb-4 text-sm text-gray-500">
					<strong>Created at:</strong>
					{{notification.createdAt | date('Y-m-d')}}
				</p>

				<!-- Status: Read/Unread -->
				<p class="mb-4 text-sm">
					<span class="font-semibold text-red-500">{{notification.isRead}}</span>
				</p>

				<!-- User Info -->
				<p class="text-sm text-gray-500">
					<strong>User:</strong>
					{{notification.userId}}
					<!-- Replace with dynamic user info -->
				</p>


			</div>

		{% endfor %}

	</body>
{% endblock %}
