<h1>Hi! User</h1>

<p>
	Thank you for For you reservation. But we are sorry to inform you that we are able to fulfil your reservation request due to some technical reasons. We are deeply sorry for that and we hope to see you soon among us.
</p>

<p>
	Cheers!
</p>
