<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"></script>
		<!-- FullCalendar CSS (local) -->
		<link rel="stylesheet" href="{{ asset('CSS/fullcalendar.min.css') }}"/>

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{{include('components/navbar.html.twig') }}

		{% block body %}{% endblock %}
		{% include('components/footer.html.twig' ) %}
	</body>
</html>
